

body{
	background-color: rgb(68, 61, 61);
	background-size: 1450px 820px;
	margin: 0;
}
.topnav{
	background-color: rgb(103, 0, 0);
	overflow: hidden;
	
	background: rgb(103, 0, 0);
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	

}
.Tamu{
	width: 55px;
	height: auto;
	float: right;
	margin-left: 460px ;
}
.topnav a{
	color: rgb(255, 255, 255);
	float: left;
	text-align: center;
	padding: 18px 18px;
	font-size: 20px;

}
.topnav a:hover{
	background-color: rgba(211, 7, 7, 0.835);
	color: white;


}
.topnav a.active{
	background-color: white;
	color: rgb(94, 1, 1);
	outline: 1px solid black;
}

.Top{
	position: relative;
	height: 300;
	width: auto;

	
}

.bottom{
	position: relative;
	top: 175;
	height: 130;
	width: 500;
	left: 450;
	background-color: rgba(255, 255, 255, 0.727);
	outline: 4px solid black;
	padding-top: 1;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);

}

.moved-headshot{
	position: absolute;
	top: 25;
	left: 970;
	border-radius: 50% / 50%;
	object-fit: cover;
	display: block;
	margin: 0 auto;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

h1{
	height: 40;
	width: 200;
	background-color: rgba(255, 255, 255, 0);
	color: rgb(255, 255, 255);
	position: absolute;
	top: 20;
	left: 340;
	text-align: center;
	font-size: 40;
}

.text{
	font-family:Arial, Helvetica, sans-serif;
	background-color: rgba(201, 237, 255, 0);
	overflow-y: auto;
	margin: 0;
	text-align: center;
	padding: 10px;
	color: rgba(255, 0, 0, 0.526);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(0, 0, 0);
	font-size: 20px;	
}

h2{
	height: 50;
	width: auto;
	color: rgb(57, 8, 8);
	text-align: center;
	position: relative;
}

.moved-contact{
	position: relative;
	width: 350;
	height: auto;
	left: 70;
	top: -30;
	padding: 5;
	color: black;
}


.computers{
	position: absolute;
	top: 330;
}
.project1{
	position: relative;
	left: 100;
}
.project2{
	position: relative;
	left: 120;
}
.project3{
	position: relative;
	left: 140;
}

.descriptions-port{
	position: absolute;
	top: 70;
}

.headers{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.headers h2{
	margin: 0 125px;
	position: relative;
	top: 50;
	left: 120;
	color: white;
}

.port{
	position: relative;
	top: 15;
	font-size: 17;
	margin: 0 24px;
	
}

.text-area{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.textbox{
	position: relative;
	top: 50;
	left: 95;
	border: 2px solid black;
	padding: 10px;
	width: 350px;
	border-radius: 15px;
	background-color: rgb(249, 227, 227);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.moved-text{
	position: absolute;
	top: 120;
	left: 240;
	width: 400;
	height: auto;
	
}
.body{
	position: relative;
	width: 100%;
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.corkboard{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
.resume{
	position: absolute;
	top: 100;
	left: 800;
	border: none;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	background-color: white;
}
.sticky{
	text-decoration: none;
	color: #000;
	background-color: #ffc;
	display: block;
	height: 14em;
	width: 14em;
	padding: 1em;
	margin: 20px auto;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);

}
.sticky h3{
	position: relative;
	top: 0;
	left: 0;
	margin: 1em;
	text-align: left;
	font-size: 25;
	margin: 0;
	padding: 0;
}
.sticky p{
	margin: 1em;
	font-size: 14;
	
}
.note1{
	position: relative;
	top:30;
	left: 15;
}

.note2{
	position: relative;
	top: 30;
}

.note3{
	position: relative;
	top: 300;
	left: -700;
}
.note4{
	position: relative;
	top:300;
	left: -720;
}

.onboard{
	position: relative;
	top: 20;
	margin: 40;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.pin1{
	position: relative;
	top: 50;
	left: 170;
	z-index: 1;
}
.pin2{
	position: relative;
	top: 50;
	left: 270;
	z-index: 1;
}
.pin3{
	position: relative;
	top: 50;
	left: 270;
	z-index: 1;
}

.note5{
	position: relative;
	top: -30;
	left: -20;
}

.note6{
	position: relative;
	top: -30;
	left: -70;
}

.note7{
	position: relative;
	top: -30;
	left: -10;
}

.clickable-image-link img{
	border: none;
	transition: transform 0.3s ease;
}

.clickable-image-link:hover img{
	transform: scale(1.05);
}