body{
    background-color: rgb(81, 133, 247);
    margin: 0;
}

.topnav{
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: blue;
    height: 100%;
    z-index: 1;

}

.topnav a{
    display: block;
    color: whitesmoke;
    padding: 8px 16px;
    text-decoration: none;
    height: 9%;
    text-align: center;
    text-decoration:double;
    font-size: 20;
    margin: 0;
    
}

.topnav a:hover{
    color: black;
    background-color: rgba(110, 211, 255, 0.858);
}

.Tamu{
	width: 55px;
	height: auto;
}

.topnav a.active{
    color: black;
    background-color: aqua;
}

.moved-headshot{
	position: absolute;
    top: 20;
	left: 600;
    height: 70%;
    width: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    border: 4px solid black;
}

h1{
	height: 40;
	width: 200;
	background-color: rgb(226, 169, 77);
	color: rgb(0, 0, 0);
	position: absolute;
	top: 20;
	left: 285;
	text-align: center;
    -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(0, 0, 0);
	font-size: 40;
    border: 4px solid black;
}

.text{
	font-family:Arial, Helvetica, sans-serif;
	background-color: rgba(255, 255, 255, 0);
	overflow-y: auto;
	margin: 0;
	text-align: center;
	padding: 10px;
	color: rgb(0, 0, 0);
	-webkit-text-stroke-width: 0px;
	-webkit-text-stroke-color: rgb(0, 0, 0);
	font-size: 20px;	
}

.textbox{
	border: 2px inset black;
    padding: 5px 0;
    outline: none;
	background-color: rgb(226, 232, 253);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.moved-text{
	position: absolute;
	top: 120;
	left: 260;
	width: 250;
	height: auto;
	
}

.bottom{
	position: relative;
    top: 180;
	left: 1050;
	height: 300;
	width: 300;
	background-color: rgba(255, 255, 255, 0.727);
	outline: 4px solid black;
	padding-top: 1;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);

}

.moved-contact{
	position: relative;
    top: -340;
    left: 45;
	width: 200;
	height: auto;
	padding: 5;
	color: black;
}

h2{
	height: 400;
	width: auto;
	color: rgb(57, 8, 8);
	text-align: center;
	position: relative;
}

.descriptions-port{
	position: absolute;
	top: 70;
}

.headers{
	display: flex;
    flex-direction: column;
	align-items: center;
}

.headers h2{
	margin-top: 0;
    padding: 0;
	position: relative;
	top: 0;
	left: 620;
	color: white;
    width: 100;
    height: 200;
    -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0.575);
    font-size: 30;
}

.pin1{
    height: 0;
    width: 0;
}

.pin2{
    height: 0;
    width: 0;
}

.pin3{
    height: 0;
    width: 0;
}

.port{
	position: relative;
	top: -720;
    left: 300;
	font-size: 17;
	margin: 0 24px;
	width: 300;
    height: auto;
}

.computers{
    position: absolute;
    left: 950;
    top: -35;
    display: flex;
    flex-direction: column;
	align-items: center;
}

.project1{
    width: 300;
    height: 250;
}

.project2{
    width: 300;
    height: 250;
}

.project3{
    width: 300;
    height: 250;
}

.sticky{
	text-decoration: none;
	color: #000;
	background-color: rgb(255, 255, 255);
	display: block;
	height: 14em;
	width: 14em;
	padding: 1em;
	margin: 20px auto;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    border-top: maroon solid 4em;
    
}

  .sticky h3{
	position: relative;
	top: 0;
	left: 0;
	margin: 1em;
	text-align: left;
	font-size: 25;
	margin: 0;
	padding: 0;
 }

    .corkboard{
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }

    .resume{
        position: absolute;
        top: 30;
        left: 540;
        border: 2px solid black;
        box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        background-color: white;
        height: 90%;
    }

    .note1{
        position: relative;
        left: -350;
    }

    .note2{
        position: relative;
        left: -350;
    }

    .note3{
        position: relative;
        left: 550;
        top: -680;
    }

    .note4{
        position: relative;
        left: 550;
        top: -680;
    }

    .onboard{
        border-radius: 50% / 50%;
        object-fit: cover;
	    display: block;
    }

    .bigevent{
        position: relative;
        left: 300;
        top: 10;
    }

    .nrh{
        position: relative;
        left: 600;
        top: 250;
    }

    .army{
        position: relative;
        left: 1000;
        top: -390;
    }

    .note5{
        position: relative;
        left: -310;
        top: -350;
    }

    .note6{
        position: relative;
        left: 70;
        top: -900;
    }

    .note7{
        position: relative;
        left: 500;
        top: -1020;
    }